/* This is colors */
:root {
  --bg-cream: #fdfbf7;
  --dark-gray: #707070;
  --dark-brown: #6c5a37;
  --brown: #9a855b;
  --light-brown: #baa270;
  --cream-brown: #ebdec4;
}

/* This is fonts */
@font-face {
  font-family: "Morva";
  src: url(fonts/MORVA.otf);
}

@font-face {
  font-family: "Bebas";
  src: url(fonts/BebasKai.otf);
}

@font-face {
  font-family: "LemonMilk";
  src: url(fonts/LemonMilk.otf);
}

/* This is code */
body {
  margin: 0;
}

.sidenav {
  /* background-color: var(--bg-cream); */
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--bg-cream); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--dark-brown);
  display: block;
  transition: 0.3s;
  font-family: "Bebas";
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.first-page {
  height: 100vh;
  width: 100vw;

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.first-page::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  background-image: url(images/bg1.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.first-page h1 {
  padding: 50px;
  text-align: center;
  color: var(--dark-brown);
  font-family: "Morva";
  z-index: 2;
  position: relative;
  font-size: 150px;
}

.product-page {
  height: 100vh;
  width: 100vw;
  background-color: azure;
}

.review-page {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

.about-page {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
}
